<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

https://nbviewer.jupyter.org/

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes = True)

In [16]:
xls = pd.ExcelFile('Vehicle Sales Report.xlsx')
df1 = pd.read_excel(xls, '09.19-08.20')
df1.head(10)

,Unnamed: 0,Clear,Month,SALE Date,VIN,Credit Acceptance,Buy price,Total Buy Price(inlcudes 25 wire fee),Sell price,Fees (BoroCredit),...,Added Cost,Cost Notes,Profit,Sales,Pay to sales,Profit.1,Unnamed: 19,Number sold,Unnamed: 21,Unnamed: 22
0,2016 BMW X6,Y,2019-09-01 00:00:00,2019-09-05 00:00:00,5UXKU2C52G0N83034,NaN,37862.45,37862.45,38975.00,220.0,...,NaN,NaN,712.55,杜云轩,0.000,932.550,NaN,NaN,NaN,NaN
1,2017 Audi A4,Y,2019-09-01 00:00:00,2019-09-05 00:00:00,WAUCNAF43HN015053,NaN,23940.00,23940.00,23940.00,0.0,...,NaN,NaN,0.00,WQC,0.000,0.000,NaN,NaN,NaN,NaN
2,2013 Ford F150,Y,2019-09-01 00:00:00,2019-09-05 00:00:00,1FTFW1ET9DKD11633,NaN,13213.00,13213.00,8395.00,0.0,...,NaN,NaN,-4888.00,WQC,0.000,-4888.000,NaN,NaN,NaN,NaN
3,2010 Ford F150,Y,2019-09-01 00:00:00,2019-09-05 00:00:00,1FTEW1E81AFB40999,NaN,9929.00,9929.00,8385.00,0.0,...,NaN,NaN,-1614.00,WQC,0.000,-1614.000,NaN,NaN,NaN,NaN
4,2011 Dodge Ram 1500,Y,2019-09-01 00:00:00,2019-09-05 00:00:00,1D7RV1GT8BS680984,NaN,8748.00,8748.00,7895.00,0.0,...,NaN,NaN,-923.00,WQC,0.000,-923.000,NaN,NaN,NaN,NaN
5,2014 BMW i8,Y,2019-09-01 00:00:00,2019-09-07 00:00:00,WBY2Z2C54EVX64461,NaN,48000.00,48000.00,54500.00,395.0,...,NaN,NaN,5500.00,郭伟,3300.000,2595.000,NaN,NaN,NaN,NaN
6,2013 BMW 128,Y,2019-09-19 00:00:00,2019-09-11 00:00:00,WBAUP7C58DVP25056,NaN,11000.00,11000.00,12650.00,220.0,...,NaN,NaN,1150.00,高扬,230.000,1140.000,NaN,NaN,NaN,NaN
7,2015 AUDI A5,Y,2019-09-19 00:00:00,2019-09-16 00:00:00,WAUMFAFR1FA010273,NaN,20487.00,20487.00,22256.00,220.0,...,NaN,NaN,1369.00,李寒山,273.800,1315.200,NaN,NaN,NaN,NaN
8,2015 Audi SQ5,Y,2019-09-19 00:00:00,2019-09-24 00:00:00,WA1CGAFP1FA133141,NaN,30180.00,30180.00,33449.81,220.0,...,NaN,NaN,2819.81,洪任天,563.962,2475.848,NaN,NaN,NaN,NaN
9,2011 Toyota Camry,Y,2019-09-19 00:00:00,2019-09-25 00:00:00,4T1BF3EK2BU582550,NaN,4000.00,4000.00,6375.00,0.0,...,150.0,NaN,2225.00,WQC,0.000,2225.000,NaN,NaN,NaN,NaN